TAVILY_API_KEY=<required_str_for_search>
OPENAI_API_KEY=<required_str_for_llm>
POSTGRES_HOST=<db_host>
POSTGRES_DATABASE=<db_name>
POSTGRES_USER=<db_username>
POSTGRES_PASSWORD=<db_password>

# Optional / Defaulted Variables
POSTGRES_PORT=5432
DEBUG=false
OPENAI_EMBEDDING_MODEL=text-embedding-3-small
DEFAULT_LLM=gpt-5.1
DEFAULT_LLM_TEMPERATURE=1.0
AGENT_MAX_TOKENS=16000
DOCUMENT_MAX_TOKENS=1000
APP_NAME="TNTU Assistant AI"
APP_VERSION="0.1.0"
API_BASE_URL=http://tntuassistant-ml:8000/api/v1
PAGE_TITLE="TNTU Assistant"
POSTGRES_SSL_MODE=prefer
POSTGRES_SCHEMA=public
